<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="static/sty.css"/>

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script data-type="module"src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    
    <!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    
    
    <title> Home Portfolio</title>
</head>


<body>
    <header>
        <div id="nav-full">
            <a href="#home-section" id="nav-home"> <i class="bi bi-house-door"></i>Home</a>
            <a href="#about-section" id="nav-about"> <i class="bi bi-file-earmark-person"></i>About</a>
            <a href="#project-section" id="nav-projects"> <i class="bi bi-hdd"></i>Projects</a>
            <a href="#contact-section" id="nav-contact"> <i class="bi bi-person-lines-fill"></i>Contact</a>
        </div>
    </header>   
        <div id="home-section"> 
            <h1 id="home-hey"> HEY :)</h1>
            <br>
            <p id="home-content"> 
                This is my website — take a tour!
            </p>
        </div>
    
        <div id="about-section">
            <p id = "about-content">
                The handsome gentleman on the right is me — Ahmed Abdulrahman. I could also tell 
                you I'm a junior at Duke studying blah blah blah but you already know that from my 
                resume and LinkedIn page. Instead, let me tell you more about me in a fun way.
                Two truths and a lie :)  I'll give you three statements; two are true and you figure 
                out the lie. 
            </p>
            <div id="game">

            </div>
            
            <aside id="portrait">
                <img src ="static/self.jpg" alt="self image" id ="self-img">
            </aside>

        </div>
        <div id="project-section">
            <div id="TerraVision">     
                <a href="https://github.com/Ace-Abdul/TerraVision"> <img alt= "" src="static/terravision.jpeg">    </a> 
                <div class="card-desc"> 
                    <h4> TerraVision</h4>
                    <p>
                        TerraVision is a startup with the mission of collecting data on publicly viewable economic activity by strategically 
                        placing cameras to collect images of business activities that map 
                        to key company performance insights. This data is processed with a computer vision
                        AI to generate unique insights into high-value questions 
                        for Hedge Funds and other asset managers.
                    </p>
                </div>  
            </div>
            <div id="website">     
                    <a href="https://github.com/Ace-Abdul/Mycom"> <img alt= "Red Moon" src="static/home-img2.png">    </a> 
                    <div class="card-desc"> <h4> Mycom</h4>
                        <p>
                            In my work experience, I've always had to design a web page that fits 
                            my clients vision. Although there was room for creativity, 
                            the final design had to be approved by someone else. Yearning to express 
                            myself, I developed Mycom as a hobby to reflect my taste and 
                            enhance my web development skills
                        </p>
                    </div>  
                </div>
                <div id="swarm">     
                    <a href="https://github.com/Ace-Abdul/Code-Plus-Swarm"> <img alt= "Swarm" src="static/stingarImg.jpg">    </a> 
                    <div class="card-desc"> <h4> Code+</h4>
                        <p>
                            SWARM web application that protects networks of users by automating 
                            use of pfSense (firewall program) to block 30,000 malicious IP addresses 
                            in the STINGAR honeypot central intelligence feed
                        </p>
                    </div>  
                </div>

                <div id="sleap">     
                    <a href=""> <img alt= "SLEAP.ai" src="static/sleap-img.png">    </a>  
                    <div class="card-desc"> <h4> SLEAP.ai</h4>
                        <p>
                            SLEAP is an open source deep-learning based framework for 
                            multi-animal pose tracking. It can be used to track any type or 
                            number of animals and includes an advanced labeling/training GUI 
                            for active learning and proofreading.
                        </p>
                    </div> 
                </div>

                <div id="processor"> 
                    <a href="https://github.com/Ace-Abdul/Computer-Architure/tree/main/16-bit%20CPU%20in%20Logism"> <img alt= "Duke 250/16" src="static/comp.jpeg">    </a> 
                    <div class="card-desc"> 
                        <h4> Duke 250/16</h4>
                        <p>
                            Duke 250/16 is a 16-bit MIPS-like, word-addressed 
                            RISC architecture.  Logism is used to design a single cycle implementation 
                            of this architecture.
                        </p>
                    </div>   
                </div>

                <div id="boe">       
                    <a href="https://github.com/Ace-Abdul/BOE-Lypmics"> <img alt= "BOE-lympics" src="static/boeLogo2.png">    </a> 
                    <div class="card-desc"> <h4> BOE-lympics</h4>
                        <p>
                            As part of 
                            ECE 110 - Fundamentals of Electrical and Computer Engineering — my group 
                            designed a Boe-Bot that can discern between a magic 
                            8-ball, a rubber ducky, and a wooden pencil placed in the center of a 
                            circular ring and communicated the value corresponding to the 
                            object detected to other bots, then finally executed a celebration 
                            depending on the value sent by a 
                            separate group.
                        </p></div>  
                </div>

                <div id="ark">       
                    <a href="https://github.com/Ace-Abdul/Noahs-Ark"> <img alt= "Flood" src="static/flood.jpg">    </a>  
                    <div class="card-desc"> <h4> Noah's Ark</h4>
                        <p>
                            Flash floods pose a threat to both people and their property and without 
                            a proper detection system individuals are unable to react quickly to 
                            avoid any extensive damage or harm. We were tasked with designing a 
                            system that accurately measures the depth of a body of water and 
                            consistently transmits this data to the user, warning them of any 
                            imminent flooding. 
                        </p>
                    </div> 
                </div>

                <div id="office">    
                    <a href="https://github.com/Ace-Abdul/System-and-Signals/tree/main/Music%20Synthesis"> <img alt= "Piano" src="static/piano.jpg">    </a> 
                    <div class="card-desc"> <h4> Musics Synthesis in Matlab</h4>
                        <p>
                            As part of a lab assignment for ECE 280 - Signals and Systems, we were 
                            tasked with emulating a song using sinusoidally generated tones in MATLAB.
                            The song of choice was the theme song for the popular show "The Office."
                        </p>
                    </div>  
                </div>

                <div id="dialer">    
                    <a href="https://github.com/Ace-Abdul/System-and-Signals/tree/main/DTMF"> <img alt= "Dialing" src="static/phonedialing.jpg">    </a> 
                    <div class="card-desc"> <h4> DTMF Dialing in Matlab</h4>
                        <p>
                            As part of a lab assignment for ECE 280 - Signals and Systems, we were 
                            tasked with emulating the DTMF dialing system used in phones using 
                            sinusoidally generated tones in MATLAB.
                        </p>
                    </div>  
                </div>

        </div>
        <div  id="contact-section">
            <div id="Email">
                <a href ="mailto:apasolace@gmail.com"> <img alt="Gmail Logo" src="static/gmail.png">  Apasolace@gmail.com </a> 
            </div>

            <div id="Git">
                <a href ="https://github.com/Ace-Abdul"> <img alt="GitHub Logo" src="static/github.png"> github.com/Ace-Abdul </a> 
            </div>

            <div id="Linkedin">
                <a href ="https://www.linkedin.com/in/aceabdul/"> <img alt="Linkedin Logo" src="static/linkedin-icon.jpg"> linkedin.com/in/aceabdul </a> 
            </div>
        </div>
        
        <script type="text/babel" src="static/like_button.jsx"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>


